{% extends "loginbase.html" %}

{% block content %}
            <div class="error_text">
                {% if obj.errors|length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form action="/sign-up?action=insert" method="POST">
                    Name:<br>
                    <input type="text" name="name" value="{{ obj.data[0].name }}" />
                    <br>

                    Email:<br>
                    <input type="text" name="email" value="{{ obj.data[0].email }}" />
                    <br>

                    Password:<br>
                    <input type="password" name="password" value="" />
                    <br>

                    Retype Password:<br>
                    <input type="password" name="password" value="" />
                    <br>

                    
                
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}